<link rel="stylesheet" href="app.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap" rel="stylesheet">

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="http://localhost:4200/"> <img class="toolbar img"
      src="https://admin.inec.cr/sites/default/files/2022-08/Marca%20INEC_Costa%20Rica%20Horizontal%20-%20Vaciado.svg"></a>

</div>
<div class="posicion" role="content">
  <h1 id="josefin">Censo de Costa Rica 2023</h1>
  <h2 class="autores">Autores: Dylan Torres, Daniel Millan </h2>
  <img class="imagen"
    src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/248/cr-flag-image-final-1140x684-1-750x450.jpg"
    alt="Imagen representaviva">
</div>
<div>

</div>


<router-outlet></router-outlet>